<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Header">
  <module name="RegexpHeader">
  <property name="headerFile" value="${checkstyle.header.file}"/>
  <property name="multiLines" value="2,3,4"/>
  </module>
</module>